<section class="contactinfo">
  <div class="contact cf" ng-model="contacts">
    <a href="#/details/{{prevItem}}" class="btn btn-left">&lt;</a>
	<a href="#/details/{{nextItem}}" class="btn btn-right">&gt;</a>
	<a href="index.html" class="btn btn-back">&laquo; Back to Search</a>
    <h1>{{contacts[whichItem].FIRSTNAME + ' ' + contacts[whichItem].LASTNAME}}</h1>
	<div class="info">
	  <h3>{{contacts[whichItem].EMPLOYEE_TITLE}}</h3>
      <div class="contactnumber">
      <h4>Cell {{contacts[whichItem].CELL_PHONE}}</h4>
	  <h4>Office {{contacts[whichItem].OFFICE_PHONE}}</h4>	
      </div>
	  <img ng-src="images/{{contacts[whichItem].EMPLOYEE_PICTURE}}" alt="Photo of {{contacts[whichItem].FIRSTNAME}}">
      
	  <div class="bio">{{contacts[whichItem].EMPLOYEE_BLURB}}</div>
	</div>
	
</section>